body{
    font-size:12px !important;
    background-color:#e7e5e4;
      font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
      font-weight: normal;

}

#usernameInput, .add-input {
border: none;
outline: none;
font-size: 17px;
width: 550px;
color: gray;
height: 33px;
float:right;
border-radius: 2px;
margin-top: 11px;

}

.add-input {width:160px; float:none; margin-left: 8px; margin-bottom: 10px;}

.search-btn, .add-btn {
background: #48b4b5;
border: 1px solid #48b4b5;
-webkit-border-radius: 3px;
color: white;
text-shadow: 1px 1px 2px #48b4b5;
height: 33px;
padding: 5px;
width: 100px;
font-size: 1.2em;
vertical-align: top;
float: right;
margin-top:11px;
cursor: pointer;
}

#searchform {display: inline-block; float: right;}

.search-btn:focus, .add-btn:focus {outline: none; border:none; background: #9BC7C7;}

.add-btn{border: none; outline: none; width:50px; height: 29px; float:none;}

header {margin-top:20px; margin-bottom:20px; float:left;}

h1{

  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
   color: #131313;
    letter-spacing: .15em;
    float:left;
    margin-right:40px;
    
}

ul {padding:18px; list-style: none;}
li {padding:15px 0;}

.item_wrapper{
  width:180px;
  float:left;
  position: relative;
}
.item_wrapper input{
  width:163px;
  margin-left:8px;
}

.group_list.item_box .tick_image{
    display:none;
}

#group_items_panel{
    width:725px;
    min-height:500px;
    float:left;
}

#group_panel{


    margin: auto;
    width: 1028px;

}
#group_container{
    margin: auto;
    width: 1050px;
}
#group_list{
/*    background: none repeat scroll 0 0 #EEEEEE;
*/    float: right;
/*    margin-top:10px;
*/    width: 230px;
}
.item_box{
    background: none repeat scroll 0 0 #EFEFEF;
    border: 5px solid #fff;
    float: left;
    height: 150px;
    margin: 10px;
    outline: 1px solid #CFCFCF;
    width: 150px;
    overflow: hidden;
    position:relative;
} 

.item_box > img{
    min-height: 150px;
    min-width: 150px;
}

.tick_image{
    height: 40px;
    left: 14px;
    position: absolute;
    bottom: 53px;
    width: 40px;
}

.item_box .tick_image {bottom:10px; left:0;}

.group_item{
    padding: 10px;
    width: 200px;
    text-transform: capitalize;
    letter-spacing:1px;
    font-size: 14px;
    -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: pointer;

}

.item_box[id='']{
  display:none;
} 

span {opacity: .3; font-size: 6em;padding: 31px 0 0 52px; float: left; text-shadow:1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #EFEFEF, -28px 56px 1px #EFEFEF;;

}

table{
    margin: auto;
    padding: 20px;
    width: 500px;
}
input[type='text']{
    border: 1px solid #CFCFCF;
    height: 30px;
    padding: 5px;
}
input[type='button'] {
    border: none;
    padding: 5px;
}

.closebtn {float:right; background: transparent; margin-top:-1px; cursor: pointer;}
.closebtn:hover, .closebtn:active {color:white; font-weight: bold;}

.act{
    background: #9BC7C7;
    color: #fff;
    border-radius:2px;
}

